.tf-filters {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  width: 100%;
}
.tf-search {
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-medium);
  border: var(--border-width) solid var(--border-color);
  background: var(--sub-background-color);
  color: var(--text-color);
  flex: 1 1 640px;
  min-width: 520px;
  height: 42px;
}
.tf-select {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: var(--border-radius-medium);
  border: var(--border-width) solid var(--border-color);
  background-color: var(--sub-background-color);
  color: var(--text-color);
  font-size: var(--font-size-base);
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23e0e0e0" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.7em center;
  background-size: 1.2em auto;
  cursor: pointer;
  width: 180px;
  height: 40px;
}
